LogicApps/Infrastructure/series-azure-workshop.json
{
  "$schema":
    "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {},
  "variables": {
    "connections_documentdb_1_api_name": "documentdb-1",
    "connections_sql_api_name": "sql",
    "connections_twitter_api_name": "twitter",
    "connections_documentdb_1_name": "CosmosDbConnection",
    "connections_sql_name": "SqlDbConnection",
    "connections_twitter_name": "jakubsikor"
  },
  "resources": [
	{
		"type": "Microsoft.Web/connections",
		"name": "[variables('connections_documentdb_1_api_name')]",
		"apiVersion": "2016-06-01",
		"location": "[resourceGroup().location]",
		"scale": null,
		"properties": {
			"displayName": "[variables('connections_documentdb_1_name')]",
			"customParameterValues": {},
			"api": {
				"id": "[concat('/subscriptions/13310137-a445-41cb-a4d9-26fe7bc3eab6/providers/Microsoft.Web/locations/',[resourceGroup().location],'/managedApis/documentdb')]"
			}
		},
		"dependsOn": []
	},
	{
		"type": "Microsoft.Web/connections",
		"name": "[variables('connections_sql_api_name')]",
		"apiVersion": "2016-06-01",
		"location": "[resourceGroup().location]",
		"scale": null,
		"properties": {
			"displayName": "[variables('connections_sql_name')]",
			"customParameterValues": {},
			"api": {
				"id": "[concat('/subscriptions/13310137-a445-41cb-a4d9-26fe7bc3eab6/providers/Microsoft.Web/locations/',[resourceGroup().location],'/managedApis/',variables('connections_sql_api_name'))]"
			}
		},
		"dependsOn": []
	},
	{
		"type": "Microsoft.Web/connections",
		"name": "[variables('connections_twitter_api_name')]",
		"apiVersion": "2016-06-01",
		"location": "northeurope",
		"scale": null,
		"properties": {
			"displayName": "[variables('connections_twitter_name')]",
			"customParameterValues": {},
			"api": {
				"id": "[concat('/subscriptions/13310137-a445-41cb-a4d9-26fe7bc3eab6/providers/Microsoft.Web/locations/',[resourceGroup().location],'/managedApis/',variables('connections_twitter_api_name'))]"
			}
		},
		"dependsOn": []
	},
    {
      "type": "Microsoft.Logic/workflows",
      "name": "series-azure-workshop",
      "apiVersion": "2017-07-01",
      "location": "northeurope",
      "tags": {},
      "scale": null,
      "properties": {
        "state": "Enabled",
        "parameters": {
          "$connections": {
            "value": {
              "documentdb_1": {
                "connectionId":
                  "[resourceId('Microsoft.Web/connections', variables('connections_documentdb_1_api_name'))]",
                "connectionName": "documentdb-1",
                "id":
                  "[concat('/subscriptions/13310137-a445-41cb-a4d9-26fe7bc3eab6/providers/Microsoft.Web/locations/',[resourceGroup().location],'/managedApis/documentdb)')]"
              },
              "sql": {
                "connectionId":
                  "[resourceId('Microsoft.Web/connections', variables('connections_sql_api_name'))]",
                "connectionName": "sql",
                "id":
                  "[concat('/subscriptions/13310137-a445-41cb-a4d9-26fe7bc3eab6/providers/Microsoft.Web/locations/',[resourceGroup().location],'/managedApis/',variables('connections_sql_api_name'))]"
              },
              "twitter": {
                "connectionId":
                  "[resourceId('Microsoft.Web/connections', variables('connections_twitter_api_name'))]",
                "connectionName": "twitter",
                "id":
                  "[concat('/subscriptions/13310137-a445-41cb-a4d9-26fe7bc3eab6/providers/Microsoft.Web/locations/',[resourceGroup().location],'/managedApis/',variables('connections_twitter_api_name'))]"
              }
            }
          }
		},
		"definition": {
			"$schema":
			  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
			"actions": {
			  "For_each": {
				"actions": {
				  "For_each_2": {
					"actions": {
					  "Create_or_update_document": {
						"inputs": {
						  "body": {
							"id": "@items('For_each_2')?['TweetId']",
							"seriesId": "@items('For_each')?['SeriesId']",
							"tweet": "@items('For_each_2')"
						  },
						  "headers": {
							"x-ms-documentdb-is-upsert": true
						  },
						  "host": {
							"connection": {
							  "name":
								"@parameters('$connections')['documentdb_1']['connectionId']"
							}
						  },
						  "method": "post",
						  "path":
							"/dbs/@{encodeURIComponent('series')}/colls/@{encodeURIComponent('Tweets')}/docs"
						},
						"runAfter": {},
						"type": "ApiConnection"
					  }
					},
					"foreach": "@body('Search_tweets')",
					"runAfter": {
					  "Search_tweets": ["Succeeded"]
					},
					"type": "Foreach"
				  },
				  "Search_tweets": {
					"inputs": {
					  "host": {
						"connection": {
						  "name":
							"@parameters('$connections')['twitter']['connectionId']"
						}
					  },
					  "method": "get",
					  "path": "/searchtweets",
					  "queries": {
						"maxResults": 20,
						"searchQuery": "@items('For_each')?['HashTag']"
					  }
					},
					"runAfter": {},
					"type": "ApiConnection"
				  }
				},
				"foreach": "@body('Get_rows')?['value']",
				"runAfter": {
				  "Get_rows": ["Succeeded"]
				},
				"type": "Foreach"
			  },
			  "Get_rows": {
				"inputs": {
				  "host": {
					"connection": {
					  "name": "@parameters('$connections')['sql']['connectionId']"
					}
				  },
				  "method": "get",
				  "path":
					"/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Hashtags]'))}/items"
				},
				"runAfter": {},
				"type": "ApiConnection"
			  }
			},
			"contentVersion": "1.0.0.0",
			"outputs": {},
			"parameters": {
			  "$connections": {
				"defaultValue": {},
				"type": "Object"
			  }
			},
			"triggers": {
			  "Recurrence": {
				"recurrence": {
				  "frequency": "Minute",
				  "interval": 5
				},
				"type": "Recurrence"
			  }
			}
		  }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('connections_documentdb_1_api_name'))]",
        "[resourceId('Microsoft.Web/connections', variables('connections_sql_api_name'))]",
        "[resourceId('Microsoft.Web/connections', variables('connections_twitter_api_name'))]"
      ]
    }
  ]
}
